@import 'mixins', 'fontFamilies', 'colors';

*{
    @include marPad(0,0);
}
/*General*/
body{
    background-color: map-get($mainCol, primary);
}

.gridContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "header"
    "main"
    "footer";
}

.gC--mainInd{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "indPre indPre indPre"
    "indLore indBat indTeamB"
    "indBest indBest indBest"
    "indRes indRes indRes";
    width: 100%;
    max-width: 100%;
}

/* .gC--mainLor{
    display: grid;
    grid-area: main;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"lorEp"
    "lorSer";
    width: 100%;
    max-width: 100%;
}

.gC--mainTB{
    display: grid;
    grid-area: main;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "yourTeams"
    "builder";
    width: 100%;
    max-width: 100%;

} */

.flexible--row{
    display: flex;
    flex-direction: row;
}

.flexible--rowWrap{
    display: flex;
    flex-flow: row wrap;
}

.flexible--rowReverse{
    display: flex;
    flex-direction: row-reverse;
}

.flexible--column{
    display: flex;
    flex-direction: column;
}

.flexible--columnReverse{
    display: flex;
    flex-direction: column-reverse;
}

.flexible--columnWrap{
    display: flex;
    flex-flow: column wrap;
}

.text{
    @include fonts($primaryFont, 75%, 500);
    @include marPad(1%, 1%);
}

.text--justify{
    @extend.text;
    text-align: justify;
}

.text--center{
    @extend.text;
    text-align: center;
}

.mainTitle{
    @include fonts($secondaryFont, 400%, 500);
    padding: 5% 2%;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: map-get($lightMainCol, lighterBlue);
}

.mainTitle2{
    @extend.mainTitle;
    font-size: 250%;
    margin: 5%;
    border-radius: 75px 75px 75px 75px;
    background-image: linear-gradient(180deg, map-get($transpMainCol, transBlue), map-get($mainCol, primary));
  }

.subMainTitle{
    @include fonts($secondaryFont, 200%, 800);
    text-align: center;  
    @include marPad(1%, 1%);
}

.subTitle{
    @include fonts($secondaryFont, 400%, 300);
    text-align: center;
    border-radius: 75px 75px 75px 75px;
    @include marPad(1%, 2%);
}

.button{
    text-decoration: none;
    @include fonts($secondaryFont, 100%, 700);
    border-radius: 75px 75px 75px 75px;
    width: fit-content;
    @include marPad(1%, 4%);
    transition: all .1s;
    &:hover{
        transform: scale(1.1, 1.1);
        box-shadow: 1px 1px 10px 5px map-get($darkMainCol, darkerPrimary);
    }
}

.button--red{
    @extend.button;
    @include colAndBGCol(map-get($mainCol, mRed), map-get($darkMainCol, darkerPrimary));
    &:hover{
        @include colAndBGCol(map-get($mainCol, primary), map-get($darkMainCol, darkerRed));
    }
}

.button--green{
    @extend.button;
    @include colAndBGCol(map-get($mainCol, mGreen), map-get($darkMainCol, darkerPrimary));
    &:hover{
        @include colAndBGCol(map-get($mainCol, primary), map-get($darkMainCol, darkerGreen));
    }
}

.button--blue{
    @extend.button;
    @include colAndBGCol(map-get($mainCol, mBlue), map-get($darkMainCol, darkerPrimary));
    &:hover{
        @include colAndBGCol(map-get($mainCol, primary), map-get($darkMainCol, darkerBlue));
    }
}

.button--purple{
    @extend.button;
    @include colAndBGCol(map-get($mainCol, mPurple), map-get($darkMainCol, darkerPrimary));
    &:hover{
        @include colAndBGCol(map-get($mainCol, primary), map-get($darkMainCol, darkerPurple));
    }
}

.button2{
    @extend.button;
    @include fonts($primaryFont, 100%, inherit);
    @include marPad(1%, 2%);
    border: 2px solid map-get($darkMainCol, darkerPrimary);
    transition: all .2s;
}

.button2--red{
    @extend.button2;
    @include colAndBGCol(map-get($lightMainCol, lighterRed), map-get($darkMainCol, darkerRed));
    &:hover{
        @include colAndBGCol(map-get($darkMainCol, darkerRed), map-get($darkMainCol, darkerPrimary));
    }
}

.button2--green{
    @extend.button2;
    @include colAndBGCol(map-get($lightMainCol, lighterGreen), map-get($darkMainCol, darkerGreen));
    &:hover{
        @include colAndBGCol(map-get($darkMainCol,darkerGreen), map-get($darkMainCol, darkerPrimary));
    }
}

.button2--blue{
    @extend.button2;
    @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerBlue));
    &:hover{
        @include colAndBGCol(map-get($darkMainCol, darkerBlue), map-get($darkMainCol, darkerPrimary));
    }
}

.button2--purple{
    @extend.button2;
    @include colAndBGCol(map-get($lightMainCol, lighterPurple), map-get($darkMainCol, darkerPurple));
    &:hover{
        @include colAndBGCol(map-get($darkMainCol, darkerPurple), map-get($darkMainCol, darkerPrimary));
    }
}

.button3{
    @extend.button;
    @include fonts($primaryFont, 100%, inherit);
    @include marPad(1%, 3%);
    border: 3px solid map-get($darkMainCol, darkerPrimary);
    transition: all .2s;
    border-radius: 5px 5px 5px 5px ;
    &:hover{
        transform: scale(1.0, 1.0)
    }
}

.button3--blue{
    @extend.button3;
    @include colAndBGCol(map-get($mainCol, primary), map-get($lightMainCol, lighterBlue));
    &:hover{
        border: 3px solid map-get($darkMainCol, darkerBlue);
        @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerPrimary));
    }
}

.button3--red{
    @extend.button3;
    @include colAndBGCol(map-get($mainCol, primary), map-get($lightMainCol, lighterRed));
    &:hover{
        border: 3px solid map-get($darkMainCol, darkerRed);
        @include colAndBGCol(map-get($lightMainCol, lighterRed), map-get($darkMainCol, darkerPrimary));
    }
}

.table{
    border-collapse: collapse;
    @include sizes(80%, auto);
    margin: 1%;
    td,th{
        border-top: 2px solid map-get($mainCol, darkerPrimary);
        border-bottom: 2px solid map-get($mainCol, darkerPrimary);
        padding: 1%;
        background-color: map-get($transpMainCol, transPrimary);
        text-align: center;
        a{
            text-decoration: none;
            color: inherit;
            transition: all .2s;
            &:hover{
                transform: scale(1.2);
                color: map-get($darkMainCol, darkerGreen);
            }
        }
    }

    th{
        border-bottom: 2px solid inherit;
        border-top: 2px solid inherit;
    }
}

img{
    transition: 1s;
    &:hover{
        transform: scale(1.05, 1.05);
    }
}

input{
    @include colAndBGCol(inherit, map-get($darkMainCol, darkerPrimary));
    border: 1px solid map-get($mainCol, secondary);
    border-radius: 5%;
    @include fonts($primaryFont, 100%, 500);
    padding: 1%;
};

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

/* header */

header{
    grid-area: header;
    width: 100%;
    position: sticky;
    top:0px;
    z-index: 1;
    @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerPrimary));
}



/*nav*/
nav{
    justify-content: space-between;
    width: 95%;
    padding: 2%;
    align-items: center;
    .logo{
        img{
            @include sizes(50px, 50px);
        }
    }

    /* .menu_log{
        width: 70%;
        justify-content: space-around; */
        
    .menu{
        @include fonts($primaryFont, 50%, 500);
        justify-content: space-around;
        width: 50%;
        list-style: none;
        align-items: center;
        a{
            color: map-get($lightMainCol, lighterBlue);
            text-decoration: none;
            border-radius: 75px 75px 75px 75px;
            transition: all .2s;
            padding: 5%;
            &:hover{
                color: (map-get($darkMainCol, darkerPrimary));
                background-image: linear-gradient(90deg, map-get($lightMainCol, lighterBlue), map-get($mainCol, mBlue));;
                transform: scale(1.1,1.1);
            }
        }

        .actual{
            color: map-get($mainCol, mBlue);
            &:hover{
                background-image: linear-gradient(90deg, map-get($mainCol, mBlue), map-get($darkMainCol, darkerBlue));;
                transform: scale(1.1,1.1);
            }
        }
    }
}
    
    
//}

/* logIn */
.log{
    @include fonts($primaryFont, 50%, 500);
    @include colAndBGCol(map-get($lightMainCol, lighterRed), inherit);
    height: fit-content;
    text-decoration: none;
    padding: 1%;
    transition: all .2s;
    border-radius: 75px 75px 75px 75px;
    &:hover{
        transform: scale(1.1,1.1);
        background-image: linear-gradient(90deg, map-get($lightMainCol, lighterRed), map-get($mainCol, mRed));
        color: map-get($darkMainCol, darkerPrimary);
    }
}

.userOp{
    @extend.log;
    @include colAndBGCol(map-get($lightMainCol, lighterGreen), inherit);
    &:hover{
        background-image: linear-gradient(90deg, map-get($lightMainCol, lighterGreen), map-get($mainCol, mGreen));
    }
}

.modalContainer{
    width: 100%;
    height: 100%;
    background-color: map-get($transpMainCol, transPrimary);
    position: fixed;
}

.logIn{
    position: fixed;
    @include fonts($primaryFont, 75%, 300);
    right: 0;
    z-index: 2;
    border: 5px solid map-get($darkMainCol, darkerPrimary);
    border-radius: 15px 15px 15px 15px;
    align-items: center;
    @include marPad(1%, 2%);
    @include colAndBGCol(map-get($mainCol, primary), map-get($lightMainCol, lighterRed));
    input{
        color: map-get($lightMainCol, lighterRed);
    }
}

.logOut{
    @extend.logIn;
    background-color: map-get($darkMainCol, darkerPrimary);
}

/*indPre*/
.indPre{
    grid-area: indPre;
    max-width: 100%;
    color: map-get($lightMainCol, lighterBlue);
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
    background-image: url(../img/indPreBG.png);
    background-size: cover;
    .mainTitle{
        background-color: map-get($transpMainCol, transPrimary);
        margin: 2% 0%;
        text-align: center;
        
    }

    .text{
        background-color: map-get($transpMainCol, transPrimary);
        border-radius: 15px 15px 15px 15px;
    }
}

/* indCard */

.indCard{
    @include marPad(2%, 1%);
    //background-color: map-get($transpMainCol, transPrimary);
    border-radius: 25px 25px 100px 100px;
    transition: all .5s;
    align-items: center;
    justify-content: space-evenly;
    img{
        border-radius: 15px 15px 30px 30px;
    }
    p{
        @include marPad(0% 5%, 1%);
    }
    &:hover{
        transform: scale(1.01, 1.01);
    }
}

/*indLore*/

.indLore{
    @extend.indCard;
    @include colAndBGCol(map-get($darkMainCol, darkerGreen), (map-get($lightMainCol, lighterGreen)));
    grid-area: indLore;
    img{
        @include sizes(100%, auto);
    }
}

/*indBat*/

.indBat{
    @extend.indCard;
    @include colAndBGCol(map-get($darkMainCol, darkerRed), (map-get($lightMainCol, lighterRed)));
    grid-area: indBat;
    img{
        @include sizes(100%, auto);
    }
}

/*indTeamB*/

.indTeamB{
    @extend.indCard;
    grid-area: indTeamB;
    @include colAndBGCol(map-get($darkMainCol, darkerBlue), (map-get($lightMainCol, lighterBlue)));
    img{
        @include sizes(100%, auto);
    }
}

/*indBest*/

.indBest{
    @include fonts($primaryFont, 70%, lighter);
    grid-area: indBest;
    background-image: url(../img/indBestBG.jpg);
    background-size: cover;
    color: map-get($lightMainCol, lighterGreen);
    justify-content: space-evenly;
    align-items: center;
    .subTitle{
        background-color: map-get($transpMainCol, transPrimary);
    }
    .table{
        width: 60%;
    }
}

/*indRes*/

.indRes{
    grid-area: indRes;
    background-image: url(../img/indResBG.jpg);
    background-size: cover;
    color: map-get($lightMainCol, lighterRed);
    @include fonts($primaryFont, 70%, lighter);
    max-height: fit-content;
    justify-content: space-around;
    align-items: center;
    
}


.lorEp{
    grid-area: loreEp;
    article{
        div{
            justify-content: center;
            margin: 2%;
        }
        img{
            @include marPad(1%, 2%);
            border-radius: 15px 15px 15px 15px;
            @include sizes(40%, auto);
            background-color: map-get($transpMainCol, transPrimary);
        }

    }

    .green{
        @include colAndBGCol(map-get($lightMainCol, lighterGreen), map-get($darkMainCol, darkerGreen));
    }
    .blue{
        @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerBlue));
    }
    .red{
        @include colAndBGCol(map-get($lightMainCol, lighterRed), map-get($darkMainCol, darkerRed));
    }
}

.lorSer{
    grid-area: loreSer;
    .subMainTitle{
        color: map-get($lightMainCol, lighterPurple);
    }
  
    article{
        div{
            text-align: center;
            align-items: center;
        }
    }
        

    img{
        @include marPad(1%, 2%);
        border-radius: 15px 15px 15px 15px;
        @include sizes(80%, auto);
    }
}

.tbYourTeams{
    background-image: url(../img/yourTeamsBG.jpg);
    background-size: cover;
    align-items: center;
    font-size: 80%;
    div{
        justify-content: center;
    }
    
}

.charCard{
    @include marPad(2%, 2%);
    align-items: center;
    text-align: center;
    width: 25%;
    border-radius: 15px 15px 15px 15px;
    background-color: map-get($darkMainCol, darkerPrimary);
    transition: all .5s;
    .stats{
        justify-content: center;
        margin: 1%;
        p{
            margin: 2%;
        }
    }
    img{
        width: 100%;
        height: auto;
        border-radius: inherit;
        margin: 1%;
    }
    &:hover{
        transform: scale(1.2, 1.2);
        box-shadow: 1px 1px 10px 5px map-get($mainCol, mBlue);
        //cursor:pointer;
    }
    &:active{
        transform: scale(110%);
        background-color: map-get($darkMainCol, darkerBlue);
    }
}

.team{
    @include colAndBGCol(map-get($lightMainCol, lighterGreen), map-get($transpMainCol, transPrimary));
    text-align: center;
    width: 90%;
    border-radius: 40px 40px 40px 40px;
    @include marPad(2%, 0%);
    @include fonts($primaryFont, 100%, inherit);
    .subMainTitle3{
        font-size: 200%;
    }

    .chars{
        justify-content: space-around;
        
    }

    .charCard{
        &:hover{
            box-shadow: 1px 1px 10px 5px map-get($mainCol, mGreen);
            cursor: auto;
        }
        &:active{
            transform: scale(1.2);
            background-color: map-get($transpMainCol, transPrimary);
        }
    }

} 



.tbBuilder{
    @include fonts($primaryFont, 50%, 100);
    justify-content: space-around;
    .lightSide{
        justify-content: space-around;
        color: map-get($lightMainCol, lighterBlue);
    }
    .darkSide{
        justify-content: space-around;
        color: map-get($lightMainCol, lighterRed);
        .charCard{
            &:hover{
                box-shadow: 1px 1px 10px 5px map-get($mainCol, mRed);
            }
            &:active{
                background-color: map-get($darkMainCol, darkerRed);
            }
        }
    }
}


.newTeam{
    @extend.team;
    color: map-get($lightMainCol, lighterPurple);
    .charCard{
        &:hover{
            box-shadow: 1px 1px 10px 5px map-get($mainCol, mPurple);
            cursor: auto;
        }
        &:active{
            transform: scale(1.2);
            background-color: map-get($transpMainCol, transPrimary);
        }
    }
    
}

.selectTeam{
    @extend.team;
    color: map-get($lightMainCol, lighterBlue);
    transition: all .3s;
    &:hover{
        transform: scale(1.1, 1.1);
        //cursor: pointer;
        box-shadow: 1px 1px 10px 5px map-get($mainCol, mBlue);;
    }

    .charCard{
    
        &:hover{
            transform: none;
            box-shadow: none;
            //cursor: pointer;
        }
        &:active{
            transform: none;
            background-color: map-get($transpMainCol, transPrimary);
        }
    }
}

.selectedTeam{
    color: map-get($lightMainCol, lighterGreen);
    transform: scale(1.1, 1.1);
    box-shadow: 1px 1px 10px 5px map-get($mainCol, mGreen);
    &:hover{
        box-shadow: 1px 1px 10px 5px map-get($mainCol, mGreen); 
    }

}

.btleTeamSelect{
    @extend.tbYourTeams;
    justify-content: center;
    div{
        article{
            @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($transpMainCol, transPrimary));
        }
    }
    
}

.battleScene{
    @include fonts($primaryFont, 55%, 400);
    justify-content: space-between;
    background-image: url("../img/bttleSceBG.jpg");
    background-size: cover;
    width: 100%;
    height: auto;

    .divEnemy{
        justify-content: space-between;
        button{
            height: fit-content;
            padding: 1%;
            margin: 2%;
        }
    }

    .battleCard{
        @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerPrimary));
        justify-content: space-around;
        border-radius: 20px 20px 20px 20px;
        width: 70%;
        height: auto;
        
        padding: 1%;
        img{
            @include marPad(1%, 0.5%);
            width: 30%;
            height: auto;
            border-radius: 20px 20px 20px 20px;
        }

        .cardInfo{
            justify-content: space-evenly;
            width: 60%;
            .progress{
                width: 100%;
                display: flex;
                text-align: center;
                @include colAndBGCol(map-get($mainCol, primary), map-get($lightMainCol, lighterRed));
                height: 5px;
                .progressBar{
                    background-color: map-get($darkMainCol, darkerGreen);
                    height: inherit;
                }
                .progressPrevBar{
                    @extend.progressBar;
                    background-color: map-get($lightMainCol, lighterGreen);
                }                
            }

            .subtitutes{
                justify-content: space-evenly;
                font-size: 15%;
                div{
                    text-align: center;
                    width: 33%;
                    .progress{
                        width: 100%;
                        height: 5px;
                    }
                }
                
            }
        }

        .statsInCombat{
            @include colAndBGCol(map-get($darkMainCol, darkerPrimary), map-get($lightMainCol, lighterBlue));
            font-size: smaller;
            position: fixed;
            width: 33%;
            @include marPad(1%, 0%);
            border: 4px solid map-get($darkMainCol, darkerPrimary);
            border-radius: 20px 20px 20px 20px;
            div{
                justify-content: space-around;
                text-align: center;
                padding: 1%;
            }
        
            .boostedStat{
                font-weight: bold;
                color: map-get($darkMainCol, darkerGreen);
            }
        
            .loweredStat{
                font-weight: bold;
                color: map-get($darkMainCol, darkerRed);
            }
        
            .divAttacks{
                @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerPrimary));
                justify-content: space-between;
                p{
                    width: 100%;
                    text-align: center;
                }
         
            }
        }
        
    }

    .battleCardUser{
        @extend.battleCard;
        align-self: flex-end;
        margin: 2% 2% 1% 2%;
    }
    
    .battleCardEnemy{
        @extend.battleCard;
        justify-self: flex-end;
        margin: 1% 2% 2% 2%;
    }

    .atOptions{
        align-items: center;
        width: 30%;
        margin: 6% 2% 1% 2%;
        .button3{
            font-size:5px;
            width: 100%;
        }
    }

    
}

.battleLog{
    @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($mainCol, primary));
    align-items: center;
    textarea{
        @include fonts($primaryFont, 50%, 500);
        @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerPrimary));
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 5px 5px 5px 5px;
    }
}



/* footer */
footer{
    grid-area: footer;
    @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerPrimary));
    img{
        @include sizes(50px, 50px);
    }
}

@media screen and (min-width: 420px) {
    .battleScene{
        .battleCard{
            .cardInfo{
                .subtitutes{
                   font-size: 80%; 
                }
                
            }
        }
        .atOptions{
            .button3{
                font-size: 100%;
            }
            
        }
    }
}
@media screen and (min-width: 768px) {
  /*nav*/ 
  nav{
    .logo{
        img{
            @include sizes(100px, 100px);
        }
        
    }
    .menu{
        font-size: 89%;
        width: 70%;
    }
  }

  .log{
    font-size: 89%;
    }

  .logIn{
    font-size: 89%;

    }


  /* General */
  .mainTitle{
    border-radius: 73px 73px 73px 73px;
  }
  .mainTitle2{
    font-size: 500%;
  }   

  .indPre{
    font-size: 200%;
    .text{
        border-radius: 50px 50px 50px 50px;
    }
  }
  .indCard{
    font-size: 125%;
    img{
        border-radius: 25px 25px 50px 50px;
    }
  }
  .indBest{
    align-items: flex-end;
  }

  .lorEp{
    font-size: 170%;
  }
  .lorSer{
    font-size: 200%;
    
    article{
        justify-content: space-around;
        div{
            width: 40%;
        }
    }
  }
  .tbYourTeams{
    .team{
        width: 45%;
    }
  }

  .selectTeam{
    width: 45%;
  }
  

  .tbBuilder{
    font-size: 80%;
  }

  .secBattle{
    flex-direction: row;
    .battleScene{
        
        font-size: 100%;
        .battleCard{
            width: 50%;
            .progress{
                height: 15px;
            }
        }

        .atOptions{
            width: 45%;
        }
    }

    .battleLog{
        textarea{
            width: auto;
            font-size: 75%;

        }
    }
  }

  footer{
    img{
        @include sizes(100px, 100px);
    }
  }
    
}

@media screen and (min-width: 1024px){
    .mainTitle2{
        font-size: 600%;
      }

    nav{
        .menu{
            font-size: 120%;
        }
      }
    .log{
        font-size: 120%;
    }

    .logIn{
        font-size: 120%;
    
    }
      
    .indPre{
    font-size: 300%;
    }

    .indCard{
    font-size: 200%;
    }

    .indBest{
    font-size: 150%;
    align-items: flex-end;
    }

    .indRes{
    font-size: 150%;
    }

    .lorEp{
    font-size: 250%;
    }
    .lorSer{
    font-size: 300%;
    }
    
    .tbYourTeams{
    font-size: 150%;
    }

    .tbBuilder{
        font-size: 120%;
        .charCard{
            width: 15%;
        }
    }
    .battleScene{
        font-size: 120%;        
    }
    .battleLog{
        font-size: 125%;
    }

}

@media screen and (min-width: 1600px){
    .secBattle{
     
        font-size: 125%;
        textarea{
            font-size: 100%;
        }
    }
}